* {
  margin: 0;
  box-sizing: border-box;
}

.container {
  background-color: #645f5f;
  display: flex;
  flex-wrap: wrap;
 height: 700px;
width: 700px;
  margin-top: 50px;
  margin: 0 auto;
}

.grid-item {
  border: solid black 1px;
flex: 1 1 auto;
}
