* {
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color:antiquewhite;
}

.header {
  font-family: "Playwrite CU", cursive;
  margin-top: 100px;
  color:rgba(46, 44, 44, 0.91)
}

.button-div {
  margin: 50px;
}

.button {
border: none;
background-color: #314c4d;
color: #f0e7e7;
font-size: 18px;
padding: 10px;
border-radius: 5px;
}

.container {
  background-color: #314c4d;
  display: flex;
  flex-wrap: wrap;
  height: 600px;
  width: 600px;

}

.grid-item {
  /* flex: 1 1 auto; */
}
