* {
  margin: 0;
  box-sizing: border-box;
}

.container {
  background-color: #f0f0f0;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  width: 100%;


}

.grid-item {
  flex-basis: calc(100% / 16);
  

}
